@import url('https://fonts.googleapis.com/css?family=Lato:400&display=swap');

:root {
    --background-light: #f9f9f9;
    --plain-text-light: #444444;
    --feature-light:    #e95474;
}

* { padding: 0; margin: 0; }

@media only screen and (min-width: 700px) {
    body { margin: 5rem 15rem 5rem 15rem; }
    header h1 { margin: 1rem 0 1rem 0; }
    main p { margin: 0rem 0 1rem 0; }
}

@media only screen and (max-width: 700px) {
    body { margin: 1rem 3rem 1rem 3rem; }
    header h1 { margin: 1rem 0 1rem 0; }
    main p { margin: 0rem 0 1rem 0; }
}

body {
    display: grid;
    font-family: "Oxygen", "Droid Sans", sans-serif;
    color: var(--plain-text-light);
    background: var(--background-light);
}

header h1 {
    font-weight: 700;
    font-size: 5em;
    color: var(--feature-light);
}

header h1:after {
    content: '🌹';
    font-size: 0.7em;
    margin: 0 0 0 1.2rem;
}

main p {
    font-size: 1.5em;
}

main a {
    color: var(--feature-light);
}

.b {
    font-weight: bold;
}
