* {
    padding: 0;
    margin: 0;
}

html {
    display: flex;
    height: 100%;
}

:root {
    --screen-width: 320px;
    --screen-height: 288px;
    --icon-size: 32px;
    --icon-margin: 16px;
}

body {
    height: var(--screen-height);
    width: var(--screen-width);
    margin: auto;
    background: #ddd9d0;
    border: 8px solid #666472;
}

#background {
    width: var(--screen-width);
    height: var(--screen-height);
}

article {
    width: var(--screen-width);
    height: var(--screen-height);
    background-size: 100%;
    image-rendering: pixelated;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAACQCAMAAAC4a5CyAAAAD1BMVEUAAACbvA+LrA8wYjAPOA+CrFeYAAAABXRSTlMA/////xzQJlIAAAHbSURBVHic7ddRbsMgEEVRirP/NVdVUzUYAzNzh8ZS3/3DitAR2A4uHzevvBuwSkCagDQBaQLSBKQJSBOQJiBNQJqANAFpAtIEpAlIE5AmIE1AWqntuN5tXNortd5tXF4v1Wd3GpeXK7W2v7jFuNSbJyBNQJqANAFpAtIEpAlIE5AmIE1AmoA0AWkC0gSkCUgTkCYgTUCagDQBaQLSBKQJSBOQJiBNQJqANAFpAtL+JfD4LmeyTOBxLmPSRGDnOx4Js6YBe91XfN4c4MXiPcNTY2Bve/VxIQJe4xofJhKgiUeFceCKl7TNUeBwd69X8s+BTh8QxoBuX1wYAgZ8YWEAaOH1vqjQD4z6gkQ3cIpaACNCJ3C1ZnNfROgDLvd04QsIXUDu8wsdwDHv9+9t6XML7cA172HguYVmYMzHX4hW4JrX+4YLugFo83W8hBe2DWjwNQfAS3FMaAJaeL5ygek8j9AA3OGzC9fALTy7cAncxDMTV8CNPptwDrTdfluf5inQ4qNLSoADX3t2SdjyGHCkO06Hv4xb0g+c6Db4psRL4NTXfn2kPdIe4Nx3bPENhRfA9/hGwh648B27fANjB7T4Hs1gr/AMNPmW3+eJQifwZ55NvAthCfl2dgJ+AglHsK8auTngAAAAAElFTkSuQmCC");
}

img {
    user-select: none;
    -webkit-user-drag: none;
    image-rendering: pixelated;
}

#logo {
    display: block;
    width: 148px;
    height: 58px;
    margin: 0 auto 0 auto;
    padding-top: 6px;
}

#menu {
    display: block;
    margin: 54px auto 0 auto;
    text-align: center;
}

#menu li { display: inline-block; }

#menu img {
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 0 var(--icon-margin) 0 var(--icon-margin);
}

li {
    list-style-type: none;
}